/* Framework styles */

#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.noDisplay {
    display: none;
}
/* Floating elements */
.displayInfo {
    position: absolute;
    color: #7fa5ff;
    font-size: 1.3vw;
}
#control {
    top: 1%;
    left: 5%;
}
#control2 {
    top: 5%;
    left: 5%;
}
#info {
    top: 1%;
    right:10%;
}
#play {
    top: 1%;
    left: 1%;
}
#videoPlayerContainer {
    bottom: 30%;
    left: 5%;
}
#notSupported {
    background: darkgrey;
    border-radius: 15px;
    color: black;
    padding: 2%;
    top: 25%;
    left: 30%;
}
.dg .c {
    color: black;
}